.contact-us {
  padding: 60px 100px 80px;
  background-color: var(--color-light);
  border-radius: var(--border-radius);

  &__form,
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__form {
    row-gap: 40px;
    max-width: 476px;
  }

  &__body {
    row-gap: 25px;
  }
}