 .field {
   --fieldInputHeight: var(--input-height);
   --fieldInputTextColor: var(--color-dark);
   --fieldInputBgColor: var(--color-white);
   --fieldInputBorderColor: var(--color-green);
   --fieldInputPlaceholderColor: var(--color-dark);
   --fieldInputHoverBgColor: var(--color-green-light);

   display: flex;

   align-items: start;
   row-gap: 5px;

   @include mobile {
     row-gap: 10px;
   }

   &--big-height {
     --fieldInputHeight: var(--button-height);
   }

   &--dark-bg {
     --fieldInputTextColor: var(--color-dark);
     --fieldInputBgColor: var(--color-white);
     --fieldInputBorderColor: var(--color-green);
     --fieldInputPlaceholderColor: var(--color-green);
     --fieldInputHoverBgColor: var(--color-green-light);
   }

   &__label {
     @include fluid-text(16, 14);
   }

   &__input {
     width: 100%;
     height: var(--fieldInputHeight);
     padding-inline: 30px;
     color: var(--fieldInputTextColor);
     background-color: var(--fieldInputBgColor);
     border: 2px solid var(--fieldInputBorderColor);
     border-radius: var(--border-radius-small);


     @include hover {
       background-color: var(--fieldInputHoverBgColor);
     }

     @include mobile {
       padding-inline: 20px;
     }

     &:focus {
       border-color: var(--color-green-light);
       outline: none;
     }

     &::placeholder {
       color: var(--fieldInputPlaceholderColor);
     }

     &--textarea {
       height: 190px;
       padding-block: 18px;
       resize: vertical;

       @include mobile {
         height: 132px;
       }
     }
   }
 }