.section {
  padding-block: var(--section-padding-y);

  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 40px;

    @include mobile {
      flex-direction: column;
      row-gap: 10px;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @include mobile {
        margin-bottom: 20px;
      }
    }
  }

  // ЭКСПЕРИМЕНТАЛЬНО! НЕ ИСПОЛЬЗУЕТСЯ! удалить section__description и div с этим классом в разметке
  &__description {
    max-width: 580px;
  }

  &__image {

    @include desktop {
      max-width: 60%;
      height: auto;
    }

    @include tablet {
      max-width: 40%;
      height: auto;
    }
  }
}