@mixin fluid-text($max: 48, $min: 16){
  /**
   Миксин для создания адаптивного текста, который масштабируется в зависимости от ширины экрана. Использует функцию
   clamp, чтобы установить размер шрифта в промежутке между $min и $max, который автоматически масштабируется с помощью
   vw (относительные единицы ширины viewport).
   */
  font-size: clamp(#{$min}px, #{$max / 1380 * 100}vw, #{$max}px);
}

@mixin reset-link {
  /**
  Миксин используется для сброса стилей по умолчанию для ссылок. Устанавливает цвет текста в наследуемое значение,
  удаляет подчеркивание у ссылок и их состоянии при наведении. Помогает создать более кастомизируемые стили для ссылок
  без вмешательства в стандартное поведение.
  */
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  /**
  Миксин для сброса стилей по умолчанию для кнопок. Устанавливает нулевую отступ, прозрачный цвет фона и удаляет
  границу, делая кнопку полностью кастомизируемой с помощью других стилей.
  */
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin flex-center ($isInline: false) {
  /**
  Миксин для выравнивания элементов по центру с использованием Flexbox. Устанавливает контейнеру свойство
  flex-контейнера, определенное значение justify-content и align-items, чтобы центрировать его дочерние элементы как по
  горизонтали, так и по вертикали. Параметр $isInline используется для определения, должен ли контейнер использовать
  display: inline-flex; или display: flex;.
  */
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  /**
  Миксин используется для абсолютного позиционирования элемента в центре родительского контейнера. Устанавливает
  абсолютное позиционирование, а затем с помощью свойств top, left и translate
  (должно быть transform: translate(-50%, -50%);) перемещает элемент так, чтобы его центр совпадал с центром
  родительского блока. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin square($size) {
  /**
  Миксин для создания квадратного блока с заданным размером. Он устанавливает ширину блока равной $size и задает
  соотношение сторон 1:1 с помощью свойства aspect-ratio. Это позволяет создавать квадратные элементы,
  используя только одно значение размера.
  */
  width: $size;
  aspect-ratio: 1;
}