:root {
  --color-dark: #0A1902;
  --color-white: #FFFFFF;
  --color-light: #E5E5E5;
  --color-green: #59BE29;
  --color-green-light: #82CD5E;
  --color-green-border: rgba(89, 190, 41, 0.3);
  --color-shadow:  rgba(22, 52, 7, 0.05);

  --border: 1px solid var(--color-green-border);
  --border-radius: 20px 80px 20px 80px;
  --border-radius-small: 10px;
  --border-radius-circle: 50%;

  --shadow: 0px 10px 20px var(--color-shadow);

  --font-family-base: 'Comfortaa', sans-serif;
  --font-family-additional: 'Mulish', sans-serif;
  --font-family-footer: 'NotoSans', sans-serif;

  --container-width: 1240px;
  --container-padding-x: 20px;

  --section-padding-y: 60px;

  --input-height: 59px;
  --button-height: 55px;
  --button-height-tablet: 45px;

  --transition-duration: 0.2s;

  @include desktop {
    --section-padding-y: 50px;
  }

  @include mobile {
    --section-padding-y: 30px;
  }
}